/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size:100% 210%;
    background-attachment : fixed;
}